*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
        }
body{
    background-color: #F5F8FA;
    background-image: url(imagenes/body.jpg);
    
}
    ul.topnav {
        list-style-type: none;margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:#F5F8FA;
        font-size: 29.5px;
        font-family: quicksand; }

    ul.topnav li {
        float: left;}

    ul.topnav li a {
        display: block;
        color: #33475b;
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;
        margin-top: 5px;
        margin-bottom: 0px;}

    ul.topnav li.palos{  
        margin-top: 5px;}

    ul.topnav li div a.boton{
        background-color:#8bd6f1 ;
        border-radius: 15px;
        margin-left: 10px; }

    ul.topnav li div a.boton2{
        background-color:#8bd6f1;
        border-radius: 15px;
        margin-left:10px;
        font-size: 25px;}
    
    ul.topnav li.left {margin-top: 5px;}
    .topnav a:hover{
        border-radius: 5px;
        padding: 0.2em  0.8rem;
        background-color:rgba(0, 0, 0, 0.103);
        border-radius: 15px;
        transition: all 0.3s linear;    }

    .ENCABEZADO h1{
        text-align: center;
        margin-top: 15px;}

    .title{
        font-size: 5vh;
        font-weight: bold;
        font-family: "Quicksand";
        padding-top: 9vh;
        padding-left: 48vh;
    }
    .container{
        width: 90%;
        height: 290vh;
        background-color: rgba(0, 0, 0, 0.39);
        align-items: center;
        margin: 5%;
        padding-left: 5%;
    }
    .seccion{
        padding: 2%;
    }
    .titleh2{
        font-size: 5vh;
        font-style: "Quicksand";
        color: tomato;
    }
    .cuadro{
        width: 45%;
        height: 50vh;
        border: rgba(255, 255, 255, 0.322) 1px solid;
        float: left;
        margin: 1%;
        align-items: center;
        border-radius: 6%;
        position: relative;
    }
    .titulo1{
        font-family: "Quicksand";
        font-size: 120%;
        color: white;
        position: relative;
        top: 3% ;
        left: 4%;
    }
    .titulo2{
        font-family: "Quicksand";
        font-size: 160%;
        color: white;
        font-weight: bolder;
        position: relative;
        top:55% ;
        left: 1%;
    }
    .titulo3{
        font-family: serif;
        font-weight: bold;
        font-size: 6vh;
        width: 60%;
        color: white;
        position: relative;
        top: 56% ;
        left: 1%;
    }
    
    .btdetalles{
        background-color: tomato;
        height: 10%;
        width: 25%;
        border-radius: 10%;
        text-align: center;
        padding: 1%;    
        position: absolute;
        top: 300px ;
        left: 350px;
    }
    .btdetalles>a{
        text-decoration: none;
        color:white;
        font-size: 160%;
        font-weight: bold;
        font-family: "Quicksand";
    }
    #Tokio{
        background-image: url(/imagenes/tokio.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #hotel1{
        background-image: url(/imagenes/hotel1.jpg);
        background-repeat: no-repeat;
        background-size: cover;}

    #hotel2{
        background-image: url(/imagenes/hotel2.webp);
        background-repeat: no-repeat;
        background-size: cover;}
    
    #hotel3{
        background-image: url(/imagenes/hotel3.jpg);
        background-repeat: no-repeat;
        background-size: cover;}
    
    #hotel4{
        background-image: url(/imagenes/hotel4.jpg);
        background-repeat: no-repeat;
        background-size: cover;}


    #Las-vegas{
        background-image: url(/imagenes/las\ vegas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #auto1{
        background-image: url(/imagenes/audi.jpg);
        background-repeat: no-repeat;
        background-size: cover;}
    #auto2{
        background-image: url(/imagenes/honda.jpg);
        background-repeat: no-repeat;
        background-size: cover;}
    #auto3{
        background-image: url(/imagenes/fordfocus.jpg);
        background-repeat: no-repeat;
        background-size: cover;}
    #auto4{
        background-image: url(/imagenes/volkswagen.jpg);
        background-repeat: no-repeat;
        background-size: cover;}        
    @media screen and (max-width: 812px) {
        h2 {
            font-size: 10px;}
        .contenedor-imagenes {
            width: 90%; }
            .contenedor-imagenes .imagen {width: 48%;
            }

        ul.topnav li.right,ul.topnav li.left{
            margin-left: 180px;}

        ul.topnav li.palos  {
            margin-top: 0;
            display: none;}

        ul.topnav li div a.boton {
            margin-left: 0px; }

        ul.topnav li {
            float: none;}ul.topnav li  {font-size: 13px;}
        .title{
            font-size: 5vh;
            font-weight: bold;
            font-family: "Quicksand";
            padding-top: 2vh;
            padding-left: 0vh;
            text-align:center;
            }
        .container{
            width: 90%;
            height: 550vh;
            background-color: rgba(0, 0, 0, 0.39);
            align-items: center;
            margin: 5%;
            padding-left: 1%;}
        .cuadro{
            width: 98%;
            height: 50vh;
            border: rgba(255, 255, 255, 0.322) 1px solid;
            float: left;
            margin: 1%;
            align-items: center;
            border-radius: 6%;
            position: relative;
        }
        
        .titulo2{
            font-size: 2vh;
        }
        .titulo3{
            font-size: 5vh;
            width: 70%;
        }
        .btdetalles{
            background-color: tomato;
            height: 10%;
            width: 30%;
            border-radius: 10%;
            text-align: center;
            padding: 1%;    
            position: absolute;
            top: 340px ;
            left: 200px;
        }
        .btdetalles>a{
            text-decoration: none;
            color:white;
            font-size: 130%;
            font-weight: bold;
            font-family: "Quicksand";
        }}
            